{% extends "_dashboard_base.html" %}

{% block content %}
    <h1>Email Address</h1>
    <p>
        The following email address is associated with your account: {{ current_emailaddress.email }}
    </p>
    {% if new_emailaddress %}
        <div class="alert alert-warning" role="alert" style="background: white">
            <div class="d-flex">
                <div>
                    <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v4"></path>
                        <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
                        <path d="M12 16h.01"></path>
                    </svg>
                </div>
                <div>
                    <p>
                        Your email address is still pending verification: {{ new_emailaddress.email }}
                    </p>
                    <form method="post" action="{% url 'account_email' %}">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                        <button type="submit" name="action_send" class="btn btn-warning">
                            Re-send Verification
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card">
        <form method="post" action="{% url 'account_email' %}" novalidate>
            <div class="card-header"><h2 class="card-title">Change Email Address</h2></div>
            <div class="card-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email:</label>
                    <input type="email" name="email" placeholder="Email address" maxlength="320" required=""
                           id="id_email" control-id="ControlID-1" class="form-control">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" control-id="ControlID-5" name="action_add">Change Email
                </button>
            </div>
        </form>
    </div>
{% endblock %}