{% extends '_base.html' %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block page %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="/" class="navbar-brand navbar-brand-autodark">
                    <img src="{% static 'images/logo-text.svg' %}" width="110" height="32" alt="EZurl"
                         class="navbar-brand-image">
                </a>
            </div>
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">Password Reset</h2>
                    <p>We have e-mailed you. Please contact us if you do not receive it in a few minutes.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}
