{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block page %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="/" class="navbar-brand navbar-brand-autodark">
                    <img src="{% static 'images/logo-text.svg' %}" width="110" height="32" alt="EZurl"
                         class="navbar-brand-image">
                </a>
            </div>
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">Forgot your password?</h2>
                    {#            <form method="post" autocomplete="off" novalidate>#}
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}
