{% extends '_dashboard_base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="card">
        <form method="post" action="{% url 'account_change_password' %}" novalidate>
            <div class="card-header"><h2 class="card-title">Change Password</h2></div>
            <div class="card-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_oldpassword" class="form-label">Current Password:</label>
                    <input type="password" name="oldpassword" placeholder="Current Password"
                           autocomplete="current-password"
                           required=""
                           id="id_oldpassword" control-id="ControlID-2" class="form-control">
                </div>
                <div class="mb-3"><label for="id_password1" class="form-label">New Password:</label>
                    <input type="password" name="password1" placeholder="New Password" autocomplete="new-password"
                           required=""
                           id="id_password1" control-id="ControlID-3" class="form-control">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>

                <div class="mb-3"><label for="id_password2" class="form-label">New Password (again):</label>
                    <input type="password" name="password2" placeholder="New Password (again)" required=""
                           id="id_password2"
                           control-id="ControlID-4" class="form-control"></div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" control-id="ControlID-5">Change Password</button>
            </div>
        </form>
    </div>
{% endblock content %}