{% extends "_dashboard_base.html" %}

{% block content %}
    <h1>Subscribe</h1>
    {% if subscribed %}
        <p>Active Subscription</p>
        <form method="POST" action="{% url 'payments_portal' %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Manage Subscription</button>
        </form>
    {% else %}
        <p>Inactive Subscription</p>
        <form method="POST" action="{% url 'payments_checkout' %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
    {% endif %}
{% endblock %}